{% extends "master.html" %}

{% block title %}Check Withdraw{% endblock %}

{% block content %}
    <h2>Withdraw Course</h2>
    <p>This course is a required course for your class. Are you sure you want to withdraw from it?</p>
    <p>Course Name: {{ course_info[1] }}</p>
    <p>Course Code: {{ course_info[0] }}</p>
    <form action="{{ url_for('withdraw_course_confirm', course_code=course_info[0]) }}" method="POST">
        <button type="submit" class="btn btn-danger" name="confirm" value="yes">Yes</button>
        <button type="submit" class="btn btn-secondary" name="confirm" value="no">No</button>
    </form>
{% endblock %}

