{% extends "master.html" %}

{% block title %}
{% if focus_courses %}
    關注課程
{% endif %}
{% if select_course %}
    已選課程
{% endif %}
{% endblock %}

{% block content %}
{% if focus_courses %}
    <h2>關注課程</h2>
{% endif %}

{% if select_course %}
    <h2>已選課程</h2>
    <p>已選學分: {{ student_credit }}</p>
{% endif %}

{% if focus_courses or select_course %}
    <table>
        <thead>
            <tr>
                {% if focus_courses %}
                    <th>關注課程</th>
                {% endif %}
                <th>課程代碼</th>
                <th>課程名稱</th>
                <th>科系</th>
                <th>學分</th>
                <th>必選修</th>
                <th>時間</th>
                <th>授課教師</th>
                <th>已選名額/總名額</th>
                {% if focus_courses %}
                    <th>刪除</th>
                {% endif %}
                {% if select_course %}
                    <th>退選</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if focus_courses %}
                {% for course in focus_courses %}
                    <td>
                        <form action="{{ url_for('add_course', course_code=course[0]) }}" method="POST">
                            <button type="submit">加選</button>
                        </form>
                    </td>
                    <td>{{ course[0] }}</td>
                    <td>{{ course[1] }}</td>
                    <td>{{ course[2] }}</td>
                    <td>{{ course[3] }}</td>
                    <td>{{ course[4] }}</td>
                    <td>{{ course[8] }}</td>
                    <td>{{ course[7] }}</td>
                    <td>{{ course[6] }}/{{ course[5] }}</td>
                    <td>
                        <form action="{{ url_for('delete_focus_course', course_code=course[0]) }}" method="POST">
                            <button type="submit">刪除</button>
                        </form>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if select_course %}
                {% for course in select_course %}
                    <td>{{ course[0] }}</td>
                    <td>{{ course[1] }}</td>
                    <td>{{ course[2] }}</td>
                    <td>{{ course[3] }}</td>
                    <td>{{ course[4] }}</td>
                    <td>{{ course[8] }}</td>
                    <td>{{ course[7] }}</td>
                    <td>{{ course[6] }}/{{ course[5] }}</td>
                    <td>
                        <form action="{{ url_for('withdraw_course', course_code=course[0]) }}" method="POST">
                            <button type="submit">退選</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% else %}
    <p>目前沒有任何課程</p>
{% endif %}
{% endblock %}

