{% extends "master.html" %}

{% block title %}
Focus Course
{% endblock %}

{% block content %}
<h2>Focus Course</h2>

{% if focus_courses %}
    <h3>Focus Courses:</h3>
    <table>
        <thead>
            <tr>
                <th>Add Course</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Department</th>
                <th>Credits</th>
                <th>Compulsory</th>
                <th>Time</th>
                <th>Instructor</th>
                <th>Enrolled/Total Seats</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for course in focus_courses %}
                <td>
                    <form action="{{ url_for('add_course', course_code=course[0]) }}" method="POST">
                        <button type="submit">Add</button>
                    </form>
                </td>
                <td>{{ course[0] }}</td>
                <td>{{ course[1] }}</td>
                <td>{{ course[2] }}</td>
                <td>{{ course[3] }}</td>
                <td>{{ course[4] }}</td>
                <td>{{ course[8] }}</td>
                <td>{{ course[7] }}</td>
                <td>{{ course[6] }}/{{ course[5] }}</td>
                <td>
                    <form action="{{ url_for('delete_focus_course', course_code=course[0]) }}" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No courses focused yet.</p>
{% endif %}
{% endblock %}

