{% extends "master.html" %}

{% block title %}登入{% endblock %}

{% block content %}
    <h1>登入</h1>
    <form action="/login" method="post">
        <div>
            <label for="student_id">學號:</label>
            <input type="text" id="student_id" name="student_id" required>
        </div>
        <div>
            <label for="password">密碼:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <input type="submit" value="Login">
    </form>
    <p>還沒有帳號? <a href="/register">在這裡註冊</a></p>
{% endblock %}

