<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1><a href="/">Student Course Registration System</a></h1>
        <nav>
            <ul>
                <li><a href="/">首頁</a></li>
                {% if current_user.is_authenticated %}
                    <!-- if the user is authenticated, show the following links -->
                    <li><a href="{{ url_for('schedule', student_id=current_user.id) }}">課表</a></li>
                    <li><a href="/search_course">搜尋課程</a></li>
                    <li><a href="/focus_list">關注清單</a></li>
                    <li><a href="/course">已選課程</a></li>
                    <li><a href="/logout">登出</a></li>
                {% else %}
                    <li><a href="/login">登入</a></li>
                    <li><a href="/register">註冊</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Student Course Registration System</p>
    </footer>
</body>
</html>

