{% extends "master.html" %}

{% block title %}課表{% endblock %}

{% block content %}
    <h1>課表</h1>
    <table border="1">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>一</th>
                <th>二</th>
                <th>三</th>
                <th>四</th>
                <th>五</th>
            </tr>
        </thead>
        <tbody>
            {% for course_row in student_courses %}
            <tr>
                {% for course in course_row %}
                <td>{{ course }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

