<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
    <h1>Student Schedule</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Day of Week</th>
                <th>Start Period</th>
                <th>End Period</th>
            </tr>
        </thead>
        <tbody>
            {% for course in student_courses %}
            <tr>
                <td>{{ course[4] }}</td>
                <td>{{ course[1] }}</td>
                <td>{{ course.day_of_week }}</td>
                <td>{{ course.start_period }}</td>
                <td>{{ course.end_period }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

