{% extends "master.html" %}

{% block title %}
Search Courses
{% endblock %}

{% block content %}
<h2>Search Courses</h2>

<form action="/search_course" method="post">
    <label for="course_code">Course Code:</label>
    <input type="text" id="course_code" name="course_code" placeholder="Enter course code">
    <br>
    <label for="course_name">Course Name:</label>
    <input type="text" id="course_name" name="course_name" placeholder="Enter course name">
    <br>
    <label for="course_time">Course Time:</label>
    <select id="course_day" name="course_day">
        <option value="">Select Day</option>
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
    </select>
    <select id="course_period" name="course_period">
        <option value="">Select Period</option>
        {% for i in range(1, 15) %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="instructor">Instructor:</label>
    <input type="text" id="instructor" name="instructor" placeholder="Enter instructor's name">
    <br>
    <button type="submit">Search</button>
</form>

{% if search_results %}
    <h3>Search Results:</h3>
    <table>
        <thead>
            <tr>
                <th>Focus course</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Credits</th>
                <th>Compulsory</th>
                <th>Class</th>
                <th>Instructor</th>
                <th>Enrolled/Total Seats</th>
            </tr>
        </thead>
        <tbody>
            {% for result in search_results %}
            <tr>
                <td>
                    <form action="{{ url_for('focus_course', course_code=result[0]) }}" method="POST">
                        <button type="submit">Focus</button>
                    </form>
                </td>
                <td>{{ result[0] }}</td>
                <td>{{ result[1] }}</td>
                <td>{{ result[2] }}</td>
                <td>{{ result[3] }}</td>
                <td>{{ result[4] }}</td>
                <td>{{ result[7] }}</td>
                <td>{{ result[8] }}/{{ result[9] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
